//Color
$priCol: #2c17f4;

//Font
$pop: "Poppins", sans-serif;
$rob: "Roboto", sans-serif;

.dist-layout {
  width: 60%;
  margin: auto;
  overflow-x: hidden;
  .helper-text {
    color: rgb(122, 122, 122);
    font-family: $rob;
    font-size: 12px;
    span {
      color: rgb(71, 71, 71);
    }
  }
  h3 {
    color: #000;
    font-family: $pop;
    border-left: 10px solid $priCol;
    padding: 0px 0px 0px 7px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .btn-go-back {
    margin: 10px auto 15px auto;
    background: #fff;
    color: $priCol;
    font-family: $rob;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s;
    i {
      margin: 0px 5px 0px 5px;
    }
    &:hover {
      i {
        margin: 0px 8px 0px 8px;
        transition: all 0.3s ease-in-out;
      }
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  table {
    text-align: center;
    table-layout: fixed;
    thead {
      font-family: $rob;
      text-transform: uppercase;
      tr th {
        position: sticky;
        bottom: 0%;
        top: 0%;
        padding: 20px;
        background: rgb(250, 250, 250);
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
    }
    tbody {
      font-family: $rob;
      color: rgba(0, 0, 0, 0.7);
      tr {
        cursor: pointer;
        span {
          color: #8476ff;
          margin: auto 5px auto auto;
        }
        td {
          border: 2px solid #fff;
          padding: 10px;
          border-collapse: collapse;
          border-radius: 12px;
          word-wrap: break-word;
          white-space: unset;
        }
        .td-state {
          color: #000;
          text-transform: capitalize;
        }
        &:nth-child(odd) {
          background: rgb(245, 245, 245);
        }
        &:hover {
          background: #dfdbff;
          transition: all 0.3s;
          border-left: 2px solid $priCol;
          transition: all 0.3s;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  .dist-layout {
    width: 100%;
    table {
      table-layout: fixed;
      thead{
        tr{
          th{
            padding: 10px;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
          }
        }
      }
    }
  }
}
